*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fredoka', sans-serif;
    margin: 30px;
    background-color: green;
    
}
h1{
    font-weight: 300px;
    color: pink;
    text-align: center;
    
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
    
}
.wrapper{
    /* margin: 0 auto;   */
    background-color: black;
    color: white;
}
    

p, h2{
   margin-top: 20px;
    clear: both;
}
img{
    object-fit: contain;
    width: 100px;
    height: 100px;
    float: left;
    position: absolute;
}
.scheda1{
    border: solid red 5px;
     width: calc(100% / 3)
   
}
.schede{
  margin-top: 50px;
  border: solid blue 5 px;
  width: 1200px;
    
    /* box-shadow: 0 5px 5px 5px rgba(255, 255, 255, 0.7); */
}
.pull-left{
    float: left;
}



