*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fredoka', sans-serif;
    margin: 30px;
    background-color: white;
}

h1{
    font-weight: 300px;
    color: pink;
    text-align: center;
}

main{
    margin: 60px 131px;
}
.scheda{
    box-shadow: 10px 10px 8px #888888;
    margin: 50px;
    width: calc(100% / 4);
    background-color: black;
}
.user{
    margin-left: 100px;
}
.clearfix, .scheda::after{
    content: "";
    display: table;
    clear: both;
}
.wrapper{
    color: white;
    margin: auto;
}
img{
    object-fit: contain;
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
}

.content{
  margin-top: 50px;
  width: 1200px;
}
.pull-left{
    float: left;
}



